<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSavePost()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Insert Title"
      />
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="submit" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview"*ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-error *ngIf="imagePreview!== '' && imagePreview && form.get('image').invalid">Please enter a valid image file!</mat-error>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Insert content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter some post content!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
